* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif;
}
button:focus {
  outline: none;
}

/* Section Overlays */

.section-overlay {
  background-color: lightgrey;
  position: relative;
}

.section-overlay-image {
  width: 100%;
}

.section-overlay-ui {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  margin-top: auto;
}

.section-overlay-text {
  text-align: center;
  font-weight: 700;
  font-size: 3.5vw;
  color: #F5F5F5;
}

.section-overlay-text-sm {
  font-weight: 100;
  font-size: 2.3vw;
}

/* Section Happening */

.section-happening {
  background-color: rgb(230, 230, 230);
}

.section-happening-cardlist {
  display: flex;
  width: 100%;
  justify-content: center;
}

.section-happening-card {
  width: 25%;
  margin: 0 1.5vw;
  color: #424242;
}

.section-happening-card > img {
  width: 100%;
  height: 18vw;
  object-fit: cover;
}

.section-happening-card > h3 {
  font-size: 1.1vw;
  margin: 1vw 0;
}

.section-happening-card > p {
  font-size: 1vw;
  margin: 1vw 0;
}

.section-happening-card > hr {
  border: 1px dashed rgb(172, 171, 171);
  height: 0;
  margin-bottom: 2px;
}

.section-happening-meta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9vw;
  margin-bottom: 2.5vw;
}

.section-happening-meta * {
  margin: 0 4px;
}

svg {
	width: 0.9vw;
	height: 0.9vw;
	box-shadow: 0 0px 40px 0 rgb(0 0 0 / 7%);
	background: transparent;
	fill: #403a4e;
}

/* Section Latest */

.section-latest {
  background-color: rgb(230, 230, 230);
}

.section-latest-cardlist {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.section-latest-card {
  width: 25%;
  margin: 2vw 1.5vw;
  color: #424242;
}

.section-latest-card > img {
  width: 100%;
  height: 18vw;
  object-fit: cover;
}

.section-latest-card > h3 {
  font-size: 1.3vw;
  margin: 1vw 0;
  text-align: center;
}

.section-latest-card svg {
  height: 1.2vw;
  width: 1.2vw;
}

/* Section Brand */
.section-brand {
  background-color: #F5F5F5;
}

.section-brand img {
  width: 20%;
  margin: 0 10px;
  margin-bottom: 4.5vw;
  filter: grayscale(100%);
}

.section-brand-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Section Work */
.section-work {
  background-color: #424242;
}

.section-work > p {
  color: #F5F5F5;
  width: 58%;
  line-height: 1.8;
  margin: 0 auto;
  font-size: 1.2vw;
  margin-bottom: 4.5vw;
}

/* Utility Classes */
.section-header {
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 3vw;
  font-size: 1.3vw;
  color: #141414;
}

.section-header-inv {
  color: #F5F5F5;
}

.section-header > hr {
  width: 30%;
  margin: 0 auto;
  margin-top: 1vw;
  background-color: rgb(172, 171, 171);
  border: 0;
  height: 1px;
}

.section-header-inv > hr {
  background-color: #F5F5F5;
}

.button-white {
  background-color: transparent;
  width: 10%;
  margin: 0 50%;
  margin-top: 2vw;
  transform: translateX(-50%);
  border: 1px solid white;
  padding: 7px 10px;
  font-size: 1vw;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.button-white-sm {
  margin-top: 1.5vw;
}

.button-white:hover {
  background-color: rgba(114, 114, 114, 0.589);
}

.button-blue {
  background-color: lightseagreen;
  width: 13%;
  margin: 6vw 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  padding: 9px 0px;
  font-size: 1vw;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;
}

.button-blue:hover {
  background-color: rgb(24, 153, 147);
}

/* Responsiveness */
@media only screen and (max-width: 768px) {  
  .button-white {
    width: 15%;
  }

  /* Section Happening */

  .section-happening-cardlist {
    flex-wrap: wrap;
  }

  .section-happening-card {
    width: 30%;
    margin: 0 30vw;
  }

  .section-happening-card > img {
    height: 25vw;
  }

  .section-happening-card > h3 {
    font-size: 1.2vw;
  }

  .section-happening-card > p {
    font-size: 1.1vw;
  }

  .section-happening-card > hr {
    border: 0.5px dashed rgb(172, 171, 171);
  }

  .section-happening-meta {
    font-size: 1vw;
    margin-bottom: 3vw;
  }

  /* Section Latest */

  .section-latest-card {
    width: 30%;
    margin: 2vw 3vw;
  }

  .section-latest-card > img {
    height: 25vw;
  }

  .section-latest-card > h3 {
    font-size: 1.4vw;
  }

  .section-latest-card svg {
    height: 1.3vw;
    width: 1.3vw;
  }
}